<header>
    <nav>
        <a href="/index">DatBrary</a>
        <ul>
            <li><a href="/author">Search Author</a></li>
            <li><a href="/author/new">Add new author</a></li>
        </ul>
    </nav>   
</header>
