<header>
    <nav>
        <a href="/">DatBrary</a>
        <ul>
            <li><a href="/authors">Search Author</a></li>
            <li><a href="/authors/new">Add new author</a></li>
        </ul>
    </nav>   
</header>
